<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="group3_6_WEBUSER" connectionString="Data Source=apcxcs3.apsu.edu;Initial Catalog=group3_6;Persist Security Info=True;User ID=webuser3_6;Password=webuser3_6abc"
      providerName="System.Data.SqlClient" />
   <!-- <add name="group3_6ConnectionString" connectionString="Data Source=apcxcs3.apsu.edu;Initial Catalog=group3_6;User ID=cedwards27"
      providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>